{% extends 'base.html.twig' %}

{% block title %}{{ 'Invoice' }}{% endblock %}

{% block body %}
    <div class="row ">
        <div class="col-12 grid-margin">
            <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-outline-primary mdi mdi-plus-circle">{{ 'Добавить счёт' }}</button>
            <div class="card card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ '#' }}</th>
                        <th>{{ 'Номер счёта' }}</th>
                        <th>{{ 'Средства счёта' }}</th>
                        <th>{{ 'Дата создания' }}</th>
                        <th>{{ 'Владелец счёта' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ invoice.numberInvoice }}</td>
                                <td>{{ invoice.amount }}</td>
                                <td>{{ invoice.createDate | date('Y/m/d') }}</td>
                                <td>{{ invoice.getuser.lastNameWithInitials }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block modal %}
    <h4 class="card-title">{{ 'Добавить счёт' }}</h4>
    <form action="{{ path('add_invoice') }}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label>{{ 'Номер счёта' }}</label>
            <input type="text" required class="form-control" name="invoice[numberInvoice]">
        </div>
        <div class="form-group">
            <label>{{ 'Средства счёта' }}</label>
            <input type="number" required class="form-control" name="invoice[amount]">
        </div>
        <div class="form-group">
            <label>{{ 'Владелец счёта' }} </label>
                <select class="form-control js-example-basic-single" style="width:100%" required name="invoice[owner]">
                    <option value="">{{ 'Выберите владельца счёта' }}</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.lastNameWithInitials }}</option>
                    {% endfor %}
                </select>
        </div>

        <button class="btn btn-primary" data-dismiss="modal">{{ 'Отменить' }}</button>
        <button type="submit" href = "#" class="btn btn-primary mr-20">{{ 'Добавить' }}</button>
    </form>
{% endblock %}