{% extends 'base.html.twig' %}

{% block title %}{{ 'Заявки' }}{% endblock %}

{% block body %}

    <div class="row ">
        <div class="col-12 grid-margin">
            <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-outline-primary mdi mdi-plus-circle">{{ 'Добавить заявку' }}</button>
            <div class="card card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ '#' }}</th>
                        <th>{{ 'Проект' }}</th>
                        <th>{{ 'Материал' }}</th>
                        <th>{{ 'Кол-во' }}</th>
                        <th>{{ 'Контрагент' }}</th>
                        <th>{{ 'Цена' }}</th>
                        <th>{{ 'Дата создания' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                {# <td>{{ request.project.title }}</td> #}
                                <td><a href="{{ path('project_details', {'id': request.project.id}) }}">{{ request.project.title }}</a></td>
                                <td>{{ request.material.title }}</td>
                                <td>{{ request.qty }}</td>
                                <td>{{ request.supplier.lastNameWithInitials }}</td>
                                <td>{{ request.price }}</td>
                                <td>{{ request.createdDate | date('Y/m/d') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <h4 class="card-title">{{ 'Добавить заявку' }}</h4>
    <form action="{{ path('add_request') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>{{ 'Счёт' }}</label>
            <select class="form-control js-example-basic-single" style="width:100%" required name="request[invoiceId]">
                <option value="">{{ 'Выберите счёт' }}</option>
                {% for invoice in invoices %}
                    <option value="{{ invoice.id }}">{{ invoice.numberInvoice }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>{{ 'Материал' }}</label>
            <select class="form-control js-example-basic-single" style="width:100%" required name="request[materialId]">
                <option value="">{{ 'Выберите материал' }}</option>
                {% for material in materials %}
                    <option value="{{ material.id }}">{{ material.title }}</option>
                {% endfor %}
            </select>
        </div> 
        <div class="form-group">
            <label>{{ 'Контрагент' }}</label>
            <select class="form-control js-example-basic-single" style="width:100%" required name="request[supplierId]">
                <option value="">{{ 'Выберите контрагента' }}</option>
                {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">{{ supplier.lastNameWithInitials }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>{{ 'Кол-во' }}</label>
            <input type="number" required class="form-control" name="request[qty]">
        </div>
        <div class="form-group">
            <label>{{ 'Цена' }}</label>
            <input type="number" required class="form-control" name="request[price]">
        </div>
        <div class="form-group">
            <label>{{ 'Проект' }}</label>
            <select class="form-control js-example-basic-single" style="width:100%" required name="request[projectId]">
                <option value="">{{ 'Выберите проект' }}</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.title }}</option>
                {% endfor %}
            </select>
        </div> 

        <button class="btn btn-primary" data-dismiss="modal">{{ 'Отменить' }}</button>
        <button type="submit" href = "#" class="btn btn-primary mr-20">{{ 'Добавить' }}</button>
    </form>
{% endblock %}