{% extends 'base.html.twig' %}

{% block title %}
	{{ project.title }}
{% endblock %}
{% block body %}
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">

                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="flex-grow">
                                    <h6 class="preview-subject">{{ 'Название' }}</h6>
                                    <p class="text-muted mb-0">{{ project.title }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="flex-grow">
                                    <h6 class="preview-subject">{{ 'Дата начала' }}</h6>
                                    <p class="text-muted mb-0">{{ project.startDate | date('Y/m/d') }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="flex-grow">
                                    <h6 class="preview-subject">{{ 'Дата заверешния' }}</h6>
                                    <p class="text-muted mb-0">{{ project.endDate | date('Y/m/d') }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="flex-grow">
                                    <h6 class="preview-subject">{{ 'Дата создания' }}</h6>
                                    <p class="text-muted mb-0">{{ project.createdDate | date('Y/m/d') }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="flex-grow">
                                    <h6 class="preview-subject">{{ 'План/Факт' }}</h6>
                                    <p class="text-muted mb-0">{{ project.pricePlan ~ '/' ~ project.priceFact }}</p>
                                </div>
                            </div>
                        </div>
                        
                        {# <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="flex-grow">
                                    <h6 class="preview-subject">{{ '' }}</h6>
                                    <p class="text-muted mb-0">{{ project }}</p>
                                </div>
                            </div>
                        </div> #}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 row">
            <div class="col-12 grid-margin">
                <div class="card card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ '#' }}</th>
                            <th>{{ 'участники' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ member.user.lastNameWithInitials }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 row">
        <div class="col-12 grid-margin">
            <button type="button" data-toggle="modal" data-target=".addRequest" class="btn btn-outline-primary mdi mdi-plus-circle">{{ 'Добавить заявку' }}</button>
            <div class="card card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ '#' }}</th>
                        <th>{{ 'Материал' }}</th>
                        <th>{{ 'Кол-во' }}</th>
                        <th>{{ 'Контрагент' }}</th>
                        <th>{{ 'Цена' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ request.material.title }}</td>
                                <td>{{ request.qty }}</td>
                                <td>{{ request.supplier.lastNameWithInitials }}</td>
                                <td>{{ request.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% import 'supplier/form.html.twig' as form %}

    {% set addRequestVars = {
        'class': 'addRequest',
        'formId': 'addRequestForm',
        'title': 'Добавить заявку',
        'content': form.inputs(project, invoices, materials, suppliers),
        'formAction': path('add_request'),
        'submitTitle': 'Добавить'
    } %}

    {% include 'partial/modal.html.twig' with addRequestVars %}
{% endblock %}


