{% extends 'base.html.twig' %}

{% block title %}{{ 'Проекты' }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 grid-margin">
            <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-outline-primary mdi mdi-plus-circle">{{ 'Добавить проект' }}</button>
            <div class="card card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ '#' }}</th>
                        <th>{{ 'Название' }}</th>
                        <th>{{ 'Дата создания' }}</th>
                        <th>{{ 'Дата начала' }}</th>
                        <th>{{ 'Дата завершения' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td><a href="{{ path('project_details', {'id': project.id}) }}">{{ project.title }}</a></td>
                                <td>{{ project.createdDate | date('Y/m/d') }}</td>
                                <td>{{ project.startDate | date('Y/m/d') }}</td>
                                <td>{{ project.endDate | date('Y/m/d') }}</td>
                                {# <td>{{ project.titleStatus[project.status] }}</td> #}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <h4 class="card-title">{{ 'Добавить проект' }}</h4>
    <form action="{{ path('add_project') }}" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
            <label>{{ 'Название' }}</label>
            <input type="text" required class="form-control" name="project[title]">
        </div>

        <div class="form-group row">       
            <div class="col">
                <label>{{ 'дата начала' }}</label>
                <input type="date" required class="form-control" name="project[dateStart]">
            </div>
            <div class="col">
                <label>{{ 'дата завершения' }}</label>
                <input type="date" required class="form-control" name="project[dateEnd]">
            </div>
        </div>
        <div class="form-group">
            <label>{{ 'Планируемая стоимость проекта' }}</label>
            <input type="number" required class="form-control" name="project[pricePlan]">
        </div>
        <div class="form-group">
            <label>{{ 'Участники проекта' }}</label>
            <select class="js-example-basic-multiple" multiple="multiple" name="project[member][]" style="width:100%">
                <option value="AL">{{ 'Выберите участников' }}</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.lastNameWithInitials }}</option>
                {% endfor %}
            </select>
        </div>


        <button class="btn btn-primary" data-dismiss="modal">{{ 'Отменить' }}</button>
        <button type="submit" href = "#" class="btn btn-primary mr-20">{{ 'Добавить' }}</button>
    </form>
{% endblock %}