{% extends 'base.html.twig' %}

{% block title %}Material{% endblock %}

{% block body %}

    <div class="row ">
        <div class="col-12 grid-margin">
            <button type="button" class="btn btn-outline-primary mdi mdi-plus-circle">{{ 'Add' }}</button>
            <div class="card card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th> #</th>
                        <th>{{ 'Code' }}</th>
                        <th>{{ 'Title' }}</th>
                        <th>{{ 'Unit' }}</th>
                        <th>{{ 'Qty' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# {% for change in changes %} #}
                    <tr>
                        {# <td>{{ loop.index }}</td> #}
                        <td>{{ '' }}</td>
                        <td>{{ '' }}</td>
                        <td>{{ '' }}</td>
                        <td>{{ '' }}</td>
                        <td>{{ '' }}</td>
                    </tr>
                    {# {% endfor %} #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}